<table>
<h1>Page visit count</h1>
  <tr>
    <th>Path</th>
    <th>Total Count</th>
  </tr>
  <% page_count.map do |k, v| %>
    <tr id="visit">
      <td >"<%= k %>"</td>
      <td> <%= v %></td>
    </tr>
  <%end%>
</table>