// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background: grey;
  #header{
    background: palegreen;
    text-align: center;
  }
  #main{
    background: lightcyan;
    height: 50vh;
  }
  #footer{
    background: black;
    #copyright {
      color: white;
    }
  }
}
#header,
#main,
#footer,
#copyright {
  background: none;
}