// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#parsed,
#sorted,
#unique,
#visit {
  background: #ff704361;
  li,td, th{
    font-size: 2rem;
  }
}
#parsed{
li{
    list-style: none;
  }
}
body{
  background: #FFCC80;
  padding: 4rem;
  text-align: center;
}
table {
  position: relative;
  left: 33%;
  display: table;
  border-collapse: separate;
  border-spacing: .5rem;
  border-color: grey;
  text-align: center;
  th{
    font-size: 2rem;
  }
}